{% extends 'default/layout.html.twig' %}
{% block content_account %}

	{# {% include 'default/menu/menu-adds.html.twig' %} #}
	{% include 'default/list-posts.html.twig' %}
	
	<ul class="pagination">
	  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
	  {% for p in range(1, nbPages) %}
		<li{% if p == page %} class="active"{% endif %}>
		  <a href="{{ path('homepage', {'tag_name' : tag_name, 'page': p}) }}">{{ p }}</a>
		</li>
	  {% endfor %}
	</ul>
  
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
