{# footer.html.twig #}

<div class="container"> 
		<hr>
		
	   <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="pull-left">Copyright &copy; O-Study 2016</p>
					<p class="pull-right">Mentions légales - Nous contacter</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
		<!-- /.footer -->
</div>