{% extends 'default/groupe/layout.html.twig' %}

{% block title %}
	essai
{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}" title="Home">Mon oStudy</a></li>
		<li><a href="{{ path('groupe', {'groupe_slug' : groupe.slug}) }}" title="Home">{{ groupe.name }}</a></li>
		<li class="active">Membres du groupe</li>
	</ol>

{% endblock %}

{% block content_account %}
	
	{% include 'default/list-members.html.twig' %}
  
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
